@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap");

* {
  outline: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  user-select: none;
  background-color: rgb(31, 31, 31);
  color: white;
  font-family: "Anek Devanagari", sans-serif;
  overflow-y: scroll;
}

:root {
  --purple-color: #c09da7;
  --yellow-color: #ffe6b1;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: black;
  transition: 1s;
}

div.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: var(--purple-color) 0px 0px 10px;
  border-radius: 5px;
  /* border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
  background-color: rgba(128, 128, 128, 0.1);
  font-size: 23px;
  overflow-y: scroll;
  transition: 0.3s;
}

div.main:hover {
  transition: 0.3s;
  border-radius: 15px;
  background-color: var(--purple-color);
  color: rgb(31, 31, 31);
}

div.main:hover > * {
  color: rgb(31, 31, 31);
}

a {
  text-decoration: none;
  color: var(--purple-color);
  font-size: 40px;
  font-weight: bold;
}

#particle-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}
.particle {
  position: absolute;
  border-radius: 50%;
}
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(72vw, 68vh, 45px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.84;
  height: 9px;
  width: 9px;
  animation-delay: -0.2s;
  transform: translate3d(31vw, 45vh, 80px);
  background: #98fb98;
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(41vw, 57vh, 82px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.43;
  height: 8px;
  width: 8px;
  animation-delay: -0.4s;
  transform: translate3d(60vw, 12vh, 69px);
  background: #ffdab9;
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(67vw, 17vh, 71px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.72;
  height: 6px;
  width: 6px;
  animation-delay: -0.6s;
  transform: translate3d(9vw, 44vh, 72px);
  background: #ffb6c1;
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(30vw, 30vh, 89px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.45;
  height: 10px;
  width: 10px;
  animation-delay: -0.8s;
  transform: translate3d(73vw, 13vh, 92px);
  background: #f0fff0;
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(43vw, 7vh, 91px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.73;
  height: 10px;
  width: 10px;
  animation-delay: -1s;
  transform: translate3d(19vw, 82vh, 84px);
  background: #f5f5dc;
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(41vw, 26vh, 56px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.7;
  height: 9px;
  width: 9px;
  animation-delay: -1.2s;
  transform: translate3d(71vw, 3vh, 18px);
  background: #f0ffff;
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(6vw, 54vh, 33px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.84;
  height: 8px;
  width: 8px;
  animation-delay: -1.4s;
  transform: translate3d(35vw, 14vh, 64px);
  background: #fffacd;
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(43vw, 70vh, 47px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.11;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(26vw, 30vh, 71px);
  background: #fafad2;
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(72vw, 22vh, 24px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.87;
  height: 8px;
  width: 8px;
  animation-delay: -1.8s;
  transform: translate3d(89vw, 49vh, 11px);
  background: #e0ffff;
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(50vw, 78vh, 56px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.71;
  height: 8px;
  width: 8px;
  animation-delay: -2s;
  transform: translate3d(82vw, 77vh, 19px);
  background: #98fb98;
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(39vw, 75vh, 31px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.49;
  height: 8px;
  width: 8px;
  animation-delay: -2.2s;
  transform: translate3d(8vw, 1vh, 99px);
  background: #ffdab9;
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(66vw, 74vh, 38px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.94;
  height: 7px;
  width: 7px;
  animation-delay: -2.4s;
  transform: translate3d(41vw, 62vh, 11px);
  background: #ffb6c1;
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(20vw, 55vh, 95px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.59;
  height: 7px;
  width: 7px;
  animation-delay: -2.6s;
  transform: translate3d(44vw, 73vh, 58px);
  background: #f0fff0;
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(65vw, 22vh, 65px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.42;
  height: 9px;
  width: 9px;
  animation-delay: -2.8s;
  transform: translate3d(44vw, 50vh, 80px);
  background: #f5f5dc;
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(62vw, 56vh, 41px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.4;
  height: 9px;
  width: 9px;
  animation-delay: -3s;
  transform: translate3d(39vw, 38vh, 22px);
  background: #f0ffff;
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(47vw, 40vh, 30px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.27;
  height: 6px;
  width: 6px;
  animation-delay: -3.2s;
  transform: translate3d(61vw, 79vh, 38px);
  background: #fffacd;
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(89vw, 6vh, 40px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.21;
  height: 10px;
  width: 10px;
  animation-delay: -3.4s;
  transform: translate3d(78vw, 82vh, 87px);
  background: #fafad2;
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(59vw, 31vh, 91px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.59;
  height: 7px;
  width: 7px;
  animation-delay: -3.6s;
  transform: translate3d(9vw, 22vh, 95px);
  background: #e0ffff;
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(48vw, 11vh, 4px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.23;
  height: 10px;
  width: 10px;
  animation-delay: -3.8s;
  transform: translate3d(88vw, 40vh, 41px);
  background: #b0e0e6;
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(38vw, 39vh, 73px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.8;
  height: 6px;
  width: 6px;
  animation-delay: -4s;
  transform: translate3d(15vw, 17vh, 14px);
  background: #98fb98;
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(37vw, 50vh, 40px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.51;
  height: 9px;
  width: 9px;
  animation-delay: -4.2s;
  transform: translate3d(71vw, 12vh, 22px);
  background: #ffdab9;
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(67vw, 31vh, 58px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.16;
  height: 7px;
  width: 7px;
  animation-delay: -4.4s;
  transform: translate3d(10vw, 33vh, 45px);
  background: #ffb6c1;
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(20vw, 68vh, 97px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.05;
  height: 10px;
  width: 10px;
  animation-delay: -4.6s;
  transform: translate3d(21vw, 11vh, 73px);
  background: #f0fff0;
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(66vw, 16vh, 45px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.04;
  height: 6px;
  width: 6px;
  animation-delay: -4.8s;
  transform: translate3d(17vw, 60vh, 75px);
  background: #f5f5dc;
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(78vw, 80vh, 7px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.53;
  height: 10px;
  width: 10px;
  animation-delay: -5s;
  transform: translate3d(36vw, 85vh, 43px);
  background: #f0ffff;
}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(83vw, 54vh, 90px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.68;
  height: 10px;
  width: 10px;
  animation-delay: -5.2s;
  transform: translate3d(1vw, 33vh, 25px);
  background: #fffacd;
}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(7vw, 8vh, 20px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.63;
  height: 8px;
  width: 8px;
  animation-delay: -5.4s;
  transform: translate3d(43vw, 82vh, 25px);
  background: #fafad2;
}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(29vw, 63vh, 67px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.68;
  height: 8px;
  width: 8px;
  animation-delay: -5.6s;
  transform: translate3d(74vw, 63vh, 31px);
  background: #e0ffff;
}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(27vw, 59vh, 41px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.31;
  height: 6px;
  width: 6px;
  animation-delay: -5.8s;
  transform: translate3d(27vw, 38vh, 58px);
  background: #b0e0e6;
}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(58vw, 59vh, 82px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.9;
  height: 8px;
  width: 8px;
  animation-delay: -6s;
  transform: translate3d(80vw, 73vh, 42px);
  background: #98fb98;
}
